@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');
:root{
  --inner-width: 900px;
  --main-color:#4D4D4D;
  --main-fontSize:14px;
  --magin-left:1.2em;
  --magin-right:1.2em;
  --magin-top:1em;
  --magin-bottom:1em;
}

html{
  font-size: var(--main-fontSize);
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--main-color)
}
a{
  text-decoration: none;
  color:var(--main-color)
}
.inner{
  max-width: var(--inner-width);
  background-color: cadetblue;
  margin: 0 auto;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
