.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top:-50%;
  bottom: 0;
  background:rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.dialog{
  background: white;
  width: 70vw;
  padding: 2em;
  border-radius: 1em;
}
#modal-switch{
  font-size: 2rem;
}
.modal{
  display: none;
}
.test{
  color: blue;
}

#longin-switch{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  top: 0;
}
#longin-switch:checked~.modal{
  display: flex;
}
.login-close{
  text-align: end;
}